*.iml
*.ipr
*.iws
.idea/

target/
work/

.project
.classpath
.settings/

pom.xml.releaseBackup
release.properties
/.apt_generated/
.factorypath
.sts4-cache/classpath-data.json
.vscode/launch.json
.vscode/settings.json
logs/nlog-internal.log
